*:focus-visible {
  outline: 0px !important;
  box-shadow: unset !important;
}

@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  display: none;
}

.tasks-container {
  max-height: 80vh;
  overflow: auto;
}

.own-scroll::-webkit-scrollbar {
  width: 5px;
}

.own-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #ddd;
}

.own-scroll::-webkit-scrollbar-thumb {
  background-color: #d2cece;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.text-primary {
  color: #edcc8a !important;
}

.list-body,
.app-body {
  min-height: 70vh;
}

.app-body {
  animation: showFading 0.3s ease-in;
  -webkit-animation: showFading 0.3s ease-in;
}

@keyframes showFading {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
